.navbar-brand {
  font-size: 1.25rem;
}

.btn:focus {
  box-shadow: none;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border: 1px solid #dee2e6;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.dropdown-menu.show {
  display: block;
}